doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/css/stylesheet.css')

    body
        include ./header.pug
        div
            h1 Add a task fam
            form(action="/", method="POST")
                div(class="form-group")
                    label(for="taskName") What to do:
                    input(name="taskName" class="form-control" placeholder="Get fit")
                div(class="form-group")
                    label(for="date") Date:
                    input(name="date" class="form-control" type="date")
                button(type="submit" class="btn btn-primary") Submit
        script(src='/js/myscript.js')
        include ./footer.pug
