doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/css/stylesheet.css')

    body
        include ./header.pug
        div
            h1 Add a task
            form(action="/", method="POST")
                div(class="form-group")
                    label(for="taskName" class="formLabel" type="text") What to do:
                    input(name="taskName" class="form-control")
                div(class="form-group")
                    label(for="date" class="formLabel") Date:
                    input(name="date" class="form-control" type="date")
                button(type="submit" class="submitBtn") Submit
        script(src='/js/myscript.js')
        include ./footer.pug
