doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/css/stylesheet.css')

    body
        include ./header.pug
        div.deleteMassage #{deleteMassage}
        -var tasks = JSON.parse(tea)
        h1 Things to do:
        div.items
        ul
            li
                p TASK
            li
                p DATE
            li
                p
        -for(var i in tasks)
            ul
                li
                    label(for="taskName" class="takeNameLabel") #{tasks[i].taskName}
                li
                    label(for="date" class="dateLabel") #{tasks[i].date}
                li
                    a(class="deleteBtn" href="/delete/"+tasks[i].id onclick="return confirm('Are you sure you wish Delete this?')") Delete Task
        div.sortBtns
            a(class="sortAlphabetical", href="/sortByTitle") Sort Alphabetically
            a(class="sortDate", href="/sortByDate") Sort By Date
        include ./footer.pug
