* {
    font-family: futura;
    background-color: antiquewhite;
    font-size: 1em;
}

.title, .mainBtns, .sortBtns, .footer, .deleteMassage {
    text-align: center;
}
.deleteMassage {
    padding: 2em;
}

a {
    text-decoration: none; /* button underline */
    padding: 0.5em;
    margin: 0 0.5em;
    box-sizing: border-box;
    text-decoration: none;
    font-size: 1em;
}
    .homeBtn, .addBtn, .sortAlphabetical, .sortDate, .submitBtn {
        color: blueviolet;
        border-bottom: 2px solid;
    }

    .deleteBtn {
        color: red;
    }

h1 {
    text-align: center;
    font-size: 2em;
}

ul {
    display: flex;
    flex-direction: row;
    list-style-type: none; /* no bullet points*/
    width: 50%;
    margin: 0 auto;
}
    li {
        width: 100%;
        margin-bottom: 2em;
    }

footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    text-align: center;
}

/***********
form styles / add.pug
***********/
form {
    margin: 0 auto;
    width: 40%;
    text-align: center;
    padding: 5% 0%;
    font-size: 1.2em;
}
    .formLabel {
        display: block;
        padding: 2% 0%;
    }
    input {
        border: none;
        border-bottom: 2px solid black;
        background-color: transparent;
        padding: 2% 0%;
    }

    .submitBtn {
        color: blueviolet;
        border-bottom: 2px solid;
        margin-top: 5%;
    }


/***********
Media Styles yo
***********/

@media screen and (max-width: 870px) {
    ul {
        width: 75%;
        /*background-color: pink;*/
    }
}
@media screen and (max-width: 740px) {
    ul {
        width: 100%;
        /*background-color: lightblue;*/
    }
}
